html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.header{
  min-height: 800px;
  padding: 25px 0;
  /*background-color: #e0ffff;*/
  background: url(../img/banner_joke.jpg)no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header .navbar{
  background-color: transparent;
  border: none;
}

.navbar-header .navbar-brand,
.navbar-inverse .navbar-nav>li>a{
  color: rgba(255, 255, 255, 0.82);
}

.navbar-inverse .navbar-nav>li>a:hover{
  text-shadow: 0 0 3px #FFFFFF;
}

.jumbotron{
	margin-top: 30%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.82);
}

.feature{
  min-height: 400px;
  padding: 25px 0;
}

.feature.alternate{
  background-color: #337ab7;
}
.navbar{
	border-radius: 0;
}

.navbar-brand{
  font-size: 25px;
}

.container{
  margin-right: auto;
  margin-left: auto;
}

.container-md{
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}

.footer > .container {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.centered-text{
  text-align: center;
}
.dialog-popup {
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 99999;
}

.form-container{
  margin-top: 60px;
}


/* Create Page */
.color-preview {
	border: 1px solid #CCC;
	margin: 2px;
	zoom: 1;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
}
.rotate {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
  -ms-transform:rotate(90deg);
}
.Arial{font-family:"Arial";}
.Helvetica{font-family:"Helvetica";}
.MyriadPro{font-family:"Myriad Pro";}
.Delicious{font-family:"Delicious";}
.Verdana{font-family:"Verdana";}
.Georgia{font-family:"Georgia";}
.Courier{font-family:"Courier";}
.ComicSansMS{font-family:"Comic Sans MS";}
.Impact{font-family:"Impact";}
.Monaco{font-family:"Monaco";}
.Optima{font-family:"Optima";}
.HoeflerText{font-family:"Hoefler Text";}
.Plaster{font-family:"Plaster";}
.Engagement{font-family:"Engagement";}

/*Create page*/

#avatarlist{
  overflow-x: scroll;
  height: 230px;
}

#payment{
  width: 60%;
}

.img-polaroid{
  height: 100px;
  width: 100px;
}

.checkout{
  padding: 0;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.checkout-data{
  font-size: 24px;
  padding: 20px;
  border-bottom: 1px solid #CCCCCC;
  overflow: auto;
}

.checkout-button{
  padding: 10px;
}

.item{
  position: relative;
  height: 120px;
  border-radius: 2px;
  border-top: 1px solid #CCCCCC;
  background-color: ##f6f6f6;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px #CCCCCC;
}
.item img{
  float: left;
  width: 25%;
  height: 120px;
}

.details{
  float: left;
  width: 45%;
  height: 100px;
  padding: 10px;
  overflow: hidden;
}

.details #quantity{
  position: absolute;
  bottom: 10px;
  width: 60px;
}

.pricing{
  width: 30%;
  float: left;
  height: 100px;
  padding: 10px;
  text-align: right;
  overflow: hidden;
}

.pricing .gross{
  font-size: 20px;
  color: #337ab7;
}

.remove-button{
  position: absolute;
  bottom: 0;
  right: 0;
}

#total{
  float: right;
}

/*Dashboard*/

.card{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.card-sm{
  border: 1px solid #eeeeee;
  padding: 10px;
}

.card-lg{
  border: 1px solid #eeeeee;
  min-height: 300px;
}

.card-sm .glyphicon{
  font-size: 4em;
  padding: 10px 0;
}
.card-sm .card-content{
  float: right;
}
.card-text{
  font-size: 4em;
  text-align: right;
}

/*Images*/

.img-sticker{
  height: 100px;
  width: 100px;
  cursor: pointer;;
}

/*Editor*/
select.btn option{
  background-color: white;
  color: black;
}

/*Shirt list*/
.td-thumbnail{
  width: 150px;
  text-align: center;
}

.img-thumbnail{
  height: 120px;
  width: 110px;
}

/*
* About page
*/
.img-center {
	margin: 0 auto;
}

/*Table*/
td span.label{
  font-size: 14px;
}

/*Viewer*/
.viewer{
  margin-top: 25px;
}

.viewer img{
  margin: 5px;
  width: 330px;
  height: 430px;
}
