html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.jumbotron{
	margin-bottom: 0px;
}

.navbar{
	border-radius: 0;
}

.container{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.dialog-popup {
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 99999;
}

.form-container{
  margin-top: 60px;
}


/* Create Page */
.color-preview {
	border: 1px solid #CCC;
	margin: 2px;
	zoom: 1;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
}
.rotate {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
  -ms-transform:rotate(90deg);
}
.Arial{font-family:"Arial";}
.Helvetica{font-family:"Helvetica";}
.MyriadPro{font-family:"Myriad Pro";}
.Delicious{font-family:"Delicious";}
.Verdana{font-family:"Verdana";}
.Georgia{font-family:"Georgia";}
.Courier{font-family:"Courier";}
.ComicSansMS{font-family:"Comic Sans MS";}
.Impact{font-family:"Impact";}
.Monaco{font-family:"Monaco";}
.Optima{font-family:"Optima";}
.HoeflerText{font-family:"Hoefler Text";}
.Plaster{font-family:"Plaster";}
.Engagement{font-family:"Engagement";}


#payment{
  width: 60%;
}

.checkout{
  padding: 0;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.checkout-data{
  font-size: 24px;
  padding: 20px;
  border-bottom: 1px solid #CCCCCC;
}

.checkout-button{
  padding: 10px;
}

.item{
  position: relative;
  height: 100px;
  border-radius: 2px;
  background-color: ##f6f6f6;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px #CCCCCC;
}
.item img{
  float: left;
  width: 30%;
  height: 100px;
}

.details{
  float: left;
  width: 40%;
  height: 100px;
  padding: 10px;
  overflow: hidden;
}

.details #quantity{
  position: absolute;
  bottom: 10px;
  width: 60px;
}

.pricing{
  width: 30%;
  float: left;
  height: 100px;
  padding: 10px;
  text-align: right;
  overflow: hidden;
}

.pricing .gross{
  font-size: 20px;
  color: #337ab7;
}

.remove-button{
  position: absolute;
  bottom: 0;
  right: 0;
}

#total{
  float: right;
}

#items{
  border: 1px solid #eeeeee;
  border-radius: 5px;
  height: 500px;
}
